<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="RateCard.TenantId" value="vplusplus.onmicrosoft.com" />
    <add key="RateCard.ClientId" value="d3ad1455-8205-4c22-861d-85ce65365285" />
    <add key="RateCard.ClientCertThumbprint" value="9f87ac31dcc6b27f9500b7163ab2e8599a8b64d0" />
  </appSettings>
  
</configuration>